<!DOCTYPE HTML>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="application/x-www-form-urlencoded"/>
<title>MusicAppDB</title>
{% load static %}
<link rel="stylesheet" href={% static 'MusicAppDB/styles.css' %}>
</head>

<body>
	<div class="forms">

	<h1> Registration </h1>
	<form method="POST" action="/reg/">
        {% csrf_token %}
        {{ reg_form | linebreaks }}
        {{reg_form.output}}
        <input type="submit" name="Submit" value="Submit"/>
    </form>

    <h1> Retrieve Songs </h1>
    <form method="POST" action="/songret/">
        {% csrf_token %}
        {{ ret_form | linebreaks }}
        <input type="submit" name="submitsong" value="Submit"/>
	</form>
    {% for i in ratings %}
    <p> {{ i.song.song }} by {{ i.song.artist.name }} </p>
    <p> Rating: {{ i.rating }} </p>
    {{reg_form.output}}
    {% endfor %}

    <h1> Retrieve Artist Attributes </h1>
    <form method="POST" action="/artistret/">
        {% csrf_token %}
        {{ ret_form | linebreaks }}
        <input type="submit" name="submitsong" value="Submit"/>
	</form>
    {% for i in artists %}
    <p> Artist: {{ i.name }} </p>
    <p> Genre: {{ i.genre }} </p>
    <p> Born: {{ i.birth_location }}, {{ i.birth_year }} </p>
    {{reg_form.output}}
    {% endfor %}

    </div>

</body>
</html>