<!DOCTYPE HTML>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="application/x-www-form-urlencoded"/>
<title>MusicAppDB</title>
{% load static %}
<link rel="stylesheet" href={% static 'MusicAppDB/styles.css' %}>
</head>

<body>
	<div class="forms">

	<h1> Registration </h1>
	<form method="POST" action="/registration/">
        {% csrf_token %}
        {{ reg_form | linebreaks }}
        <input type="submit" name="Submit" value="Submit"/>
    </form>

    <h1> Retrieve Songs </h1>
    <form method="POST" action="/songretrieve/">
        {% csrf_token %}
        {{ ret_form | linebreaks }}
        <input type="submit" name="submitsong" value="Submit"/>
	</form>

    <h1> Retrieve Artist Attributes </h1>
    <form method="POST" action="/artistretieve/">
        {% csrf_token %}
        {{ ret_form | linebreaks }}
        <input type="submit" name="submitsong" value="Submit"/>
	</form>
	
    </div>

</body>
</html>