<!DOCTYPE HTML>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="application/x-www-form-urlencoded"/>
<title>MusicAppDB</title>
{% load static %}
<link rel="stylesheet" href={% static 'MusicAppDB/styles.css' %}>
</head>

<body>
	<div class="forms">

	<h1> Registration </h1>
	<form method="POST" action="">
        <input type="text" name="username" placeholder="New Username" /><br>
        <input type="text" name="password" placeholder="New Password" /><br>
        <input type="submit" name="submit" value="Submit"/>
    </form>

    <h1> Retrieve Songs </h1>
    <form method="POST" action="">
        <input type="text" name="raterusername" placeholder="Rater Username" /><br>
        <input type="submit" name="submitsong" value="Submit"/>
	</form>
	
    </div>

</body>
</html>